In [1]:
import pandas as pd
import numpy as np
from faker import Faker
import random

In [12]:
a = range(10)
c = sum((1 for _ in a))
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
def func():
    # a = 3
    print(a+1)

if __name__ == '__main__':
    a = 6
    func()

7

In [2]:
random.seed(5)
a = list(range(10))
b = list(range(10))
random.shuffle(a)
random.shuffle(b)

In [9]:
fake = Faker()
fake.providers

[<faker.providers.user_agent.Provider at 0x22faa04ea00>,
 <faker.providers.ssn.en_US.Provider at 0x22faa04e1c0>,
 <faker.providers.python.Provider at 0x22faa04ea30>,
 <faker.providers.profile.Provider at 0x22faa04eee0>,
 <faker.providers.phone_number.en_US.Provider at 0x22faa04e0d0>,
 <faker.providers.person.en_US.Provider at 0x22faa04e8e0>,
 <faker.providers.misc.en_US.Provider at 0x22faa04e070>,
 <faker.providers.lorem.en_US.Provider at 0x22faa04e430>,
 <faker.providers.job.en_US.Provider at 0x22faa04ef40>,
 <faker.providers.isbn.Provider at 0x22faa04ec40>,
 <faker.providers.internet.en_US.Provider at 0x22faa04edc0>,
 <faker.providers.geo.en_US.Provider at 0x22faa04eaf0>,
 <faker.providers.file.Provider at 0x22faa04e970>,
 <faker.providers.date_time.en_US.Provider at 0x22faa04e9d0>,
 <faker.providers.currency.en_US.Provider at 0x22faa04e910>,
 <faker.providers.credit_card.en_US.Provider at 0x22faa04e520>,
 <faker.providers.company.en_US.Provider at 0x22faa04e730>,
 <faker.providers.color.en_US.Provider at 0x22faa04e850>,
 <faker.providers.barcode.en_US.Provider at 0x22faa04da60>,
 <faker.providers.bank.en_GB.Provider at 0x22faa04d610>,
 <faker.providers.automotive.en_US.Provider at 0x22faa01f9a0>,
 <faker.providers.address.en_US.Provider at 0x22faa01fbb0>]

In [29]:
df = pd.DataFrame({"li":{"a":12, "b":15, "c":20}, "wang":{"a":15, "b":16, "c":4, "d":20}})
df.index.name="num"
df.columns.name="name"
df.index = ["e", "f", "g", "h"]
df + df.iloc[0]

name    li  wang
e     24.0  30.0
f     27.0  31.0
g     32.0  19.0
h      NaN  35.0