In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({"q1":[2, 2, 1, 3, 4], "q2":[3, 4, 5, 1, 1], "q3":[4, 3, 2, 5, 6]})
df.apply(pd.value_counts).fillna(0)

    q1   q2   q3
1  1.0  2.0  0.0
2  2.0  0.0  1.0
3  1.0  1.0  1.0
4  1.0  1.0  1.0
5  0.0  1.0  1.0
6  0.0  0.0  1.0